p {
  color: red;
  background-color: black;
}

#lemon {
  padding: 100px;
}

.banana-guard {
  font-size: 40px;
}

p + h4 {
  height: 30px;
  background-color: red;
  color: white;
}

body h1 ~ p {
  padding-bottom: 200px;
}

ul li {
  list-style: url(https://upload.wikimedia.org/wikipedia/commons/b/b7/Tomato-top.png);
  margin-left: 500px;
}

body {
  font-family: cursive;
}

a {
  background-color: blueviolet;
  display: block;
}
